<!DOCTYPE html>
<html>
  <head>
    <title>CARBON EMISSION CALCULATOR</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/home.css') }}"
    />
  </head>
  <body>
    <header>
      <img src="static/css/Website _Image1.png" alt="Logo" />
      <nav>
        <ul>
          <li><a href="https://www.opentext.com/en-gb">Home</a></li>
          <li>
            <a href="https://www.opentext.com/en-gb/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>
    <h1>CARBON FOOTPRINT CALCULATOR</h1>
    <center>
      <button onclick="location.href='/upstream'">
        Upstream carbon emission calculation
      </button>
      <button onclick="location.href='/downstream'">
        Downstream carbon emission calculation
      </button>
    </center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h2>TEAM TECHNOLOGY GUYS</h2>
    <br />
    <h3>
      Sudarshan G , Ananya Garg, Venkata Siva Prasanth Yendeti, Tushar Mehrotra
    </h3>

    <br />
    <br /><br />
    <br />
    <p>&copy; ramanathan a-2023</p>
  </body>
</html>