<!DOCTYPE html>
<html>
  <head>
    <title>Carbon Emission Calculator</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <img
        class="background"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/221808/sky.jpg"
      />
      <p class="message">
        OpenText<br />Design, Digitalize and Deploy to Achieve<br /> Net Zero Carbon Emission
      </p>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
      <div class="circle-container">
        <div class="circle"></div>
      </div>
    </div>
    <div class="cc">
      <h1 class="center2">Upstream</h1>
      <h1 class="center3">Carbon</h1>
      <h1 class="center4">Emission</h1>
      <h1 class="center5">Calculator</h1>
      <div class="form-container">
        <form
          action="/upstream_emission_calculate"
          method="post"
          class="center1"
        >
          <h2>
            Carbon emission by goods and service purchased by the manufacturer
          </h2>
          <label for="manufacturer">Enter the number of manufacturer(s):</label>
          <input
            type="number"
            id="num_manufacturer"
            name="num_manufacturer"
            required
          /><br /><br />
          <div id="manufacturer"></div>
          <h2>Carbon emission by capital goods</h2>
          <h3>Building :</h3>
          <label for="construction">Area under Construction:</label>
          <input
            type="number"
            id="construction"
            name="construction"
            placeholder="Enter the area in m2"
            required
          /><br />
          <label for="energy_use">Area occupied by Energy Equipments:</label>
          <input
            type="number"
            id="energy_use"
            name="energy_use"
            placeholder="Enter the area in m2"
            required
          /><br />
          <label for="decommissioning">Area under Decommissioning:</label>
          <input
            type="number"
            id="decommissioning"
            name="decommissioning"
            placeholder="Enter the area in m2"
            required
          /><br />
          <h3>Machinery :</h3>
          <label for="manu">Manufacturing:</label>
          <input
            type="number"
            id="manu"
            name="manu"
            placeholder="Enter in units"
            required
          /><br />
          <label for="energy_use1">Energy Use:</label>
          <input
            type="number"
            id="energy_use1"
            name="energy_use1"
            placeholder="Enter in units"
            required
          /><br />
          <label for="disposal">Disposal:</label>
          <input
            type="number"
            id="disposal"
            name="disposal"
            placeholder="Enter in units"
            required
          /><br />
          <h3>Tools :</h3>
          <label for="manu1">Manufacturing:</label>
          <input
            type="number"
            id="manu1"
            name="manu1"
            placeholder="Enter in units"
            required
          /><br />
          <label for="energy_use2">Energy Use:</label>
          <input
            type="number"
            id="energy_use2"
            name="energy_use2"
            placeholder="Enter in units"
            required
          /><br />
          <label for="disposal1"> Disposal :</label>
          <input
            type="number"
            id="disposal1"
            name="disposal1"
            placeholder="Enter in units"
            required
          /><br />
          <h2>
            Carbon emission by materials which are transported and distributed
          </h2>
          <label for="num_materials">Enter the number of materials:</label>
          <input
            type="number"
            id="num_materials"
            name="num_materials"
            required
          /><br /><br />
          <div id="materials"></div>
          <br /><br />
          <h2>Carbon emission by waste generated in day-to-day operations</h2>
          <label for="landfill">Waste Generated in Landfill:</label>
          <input
            type="number"
            id="landfill"
            name="landfill"
            placeholder="Enter in KGs"
            required
          /><br />
          <label for="incineration">Waste Generated in Incineration:</label>
          <input
            type="number"
            id="incineration"
            name="incineration"
            placeholder="Enter in KGs"
            required
          /><br />
          <label for="recycling">Waste Generated in Recycling:</label>
          <input
            type="number"
            id="recycling"
            name="recycling"
            placeholder="Enter in KGs"
            required
          /><br />
          <h2>Carbon emission by business travel</h2>
          <label for="num_trip">Enter the number of trips:</label>
          <input
            type="number"
            id="num_trip"
            name="num_trip"
            required
          /><br /><br />
          <div id="trip">
            <table id="tripTable">
              <thead>
                <tr>
                  <th>Trip Id</th>
                  <th>Mode</th>
                  <th>Distance</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <br /><br />
          <h2>Carbon emission by leased assets</h2>
          <h3>Computer Equipment :</h3>
          <label for="annual_usage1">Annual Usage:</label>
          <input
            type="number"
            id="annual_usage1"
            name="annual_usage1"
            placeholder="Enter the annual usage(in units)"
            required
          /><br />
          <label for="lease_term1">Lease Term:</label>
          <input
            type="number"
            id="lease_term1"
            name="lease_term1"
            placeholder="Enter the lease term(in years)"
            required
          /><br />
          <h3>Office Furniture :</h3>
          <label for="annual_usage2">Annual Usage:</label>
          <input
            type="number"
            id="annual_usage2"
            name="annual_usage2"
            placeholder="Enter the annual usage(in units)"
            required
          /><br />
          <label for="lease_term2">Lease Term:</label>
          <input
            type="number"
            id="lease_term2"
            name="lease_term2"
            placeholder="Enter the lease term(in years)"
            required
          /><br />
          <h3>Lighting Fixtures :</h3>
          <label for="annual_usage3">Annual Usage:</label>
          <input
            type="number"
            id="annual_usage3"
            name="annual_usage3"
            placeholder="Enter the annual usage(in units)"
            required
          /><br />
          <label for="lease_term3">Lease Term:</label>
          <input
            type="number"
            id="lease_term3"
            name="lease_term3"
            placeholder="Enter the lease term(in years)"
            required
          /><br />
          <button type="submit">Calculate</button>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
